/** Latest Blog **/
.latest-blog-area{
    .single-blog-item{
        .blog-thumb{
            margin-bottom: 20px;
            img{
                width: 100%;
            }
        }
        .inner-blog-wrapper {
            .blog-title{
                h3{
                    font-size: 18px;
                    color: #222222;
                    line-height: 26px;
                    text-transform: uppercase;
                    margin-bottom: 8px;

                    &:hover{
                        color: #10B4B3;
                        cursor: pointer;
                    }
                }

            }
            .blog-meta{
                span{
                    font-size: 13px;
                    color: #666666;
                    text-transform: uppercase;
                    margin-bottom: 16px;
                    display: inline-block;
                    margin-right: 10px;
                    a{
                        color: #666666;
                        &:hover{
                            color: #10B4B3;
                        }
                    }
                }
            }
            .blog-text{
                margin-bottom: 15px;
                p{}
            }
            .theme-btn{
                a {
                    font-size: 13px;
                    line-height: 26px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #444444;
                    &:hover{
                        color: #10B4B3;
                    }
                }
            }
        }
    }
}
